<div align="center">
    <fieldset>
        <form (ngSubmit)="saveContact()">
            <label for="txtNameContact">Nombre</label>
            <input id="txtNameContact" type="text" [(ngModel)]="contacto.nombrecontacto" [ngModelOptions]="{standalone: true}"/>
            <span *ngIf="errors.nameContact" class="con-error">El nombre de contacto es requerido.</span>
            <br><label for="txtPhone">Teléfono</label>
            <input id="txtPhone" type="text" [(ngModel)]="contacto.telefonocontacto" [ngModelOptions]="{standalone: true}"/>
            <span *ngIf="errors.phone" class="con-error">El teléfono del contacto es requerido.</span>
            <br><label for="txtRelation">Relación</label>
            <input id="txtRelation" type="text" [(ngModel)]="contacto.relacion" [ngModelOptions]="{standalone: true}"/>
            <span *ngIf="errors.relation" class="con-error">la relación con el contacto es requerida.</span>
            <br><input type="button" class="btn btn-info" value="Cancelar" (click)="clearForm()"/>
            <input type="submit" class="btn btn-info" value="Guardar"/>
        </form>
        <hr/>

    </fieldset>
</div>